<% provide(:title, "About") %>

<div class="container">
  <div class="row">
    <h3>About Page</h3>
  </div>
  
  <br>
  
  <div class="row">
    <p>
      This is a recipe website used to store and search through user created
      recipes. The point of the website is to demostract Group 18's ability to
      utilize the Ruby on Rails framework in order to create an interactive and 
      enjoyable user experience on a live website. 
    </p>
  </div>
</div>