<% provide(:title, "Contact Information") %>

<div class="container">
  <div class="row">
    <h2>Contact Information</h2>
  </div>
  
  <div class="row">
    <div class="col-xm-12">
      <p>
        For site issues and questions, contact one of the following authors of the site:
      </p>
    </div>
    <div class="col-xm-12">
      <p class="contact">Cameron Dziurgot - <%= mail_to "cameron.dziurgot@my.ccsu.edu", "cameron.dziurgot@my.ccsu.edu" =%></p>
    </div>
    <div class="col-xm-12">
      <p class="contact">Nicholas Pipino</p>
    </div>
    <div class="col-xm-12">
      <p class="contact">Thomas Roberge</p>
    </div>
  </div>
</div>
