<% provide(:title, "Contact Information") %>

<div class="container">
  <div class="row">
    <h3>Contact Information</h3>
  </div>
  
  <div class="row">
    <p>
      For site issues and questions, contact one of the following authors of the site:
    </p>
    <div class="col-xm-12">
      Cameron Dziurgot - <%= mail_to "cameron.dziurgot@my.ccsu.edu", "cameron.dziurgot@my.ccsu.edu" =%>
      </div>
    <div class="col-xm-12">
      Nicholas Pipino
    </div>
    <div class="col-xm-12">
      Thomas Roberge
    </div>
  </div>
</div>
