<% provide(:title, "Help") %>

<div class="container">
  <div class="row">
    <h3>Help Page</h3>
  </div>
  
  <br>
  
  <div class="row">
    <p>
      TODO: Either add a possible link to downloadable application instruction manual, or put an image of manual on the page (using asset pipeline).
    </p>
  </div>
</div>