<% provide(:title, "Welcome") %>
  
<div class="container">
  
  <div class="row">
    <div class="row text-center">
      <%= link_to image_tag("cartoon-food.jpg") %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <h1>Weclome to Group 18 - Recipe Website</h1>
      <h3>Find something good to make with the ingredients in your cabinet!</h3>
    </div>
  </div>
  
  <br>
  
  <div class="row">
    <div class="col-12">
      Currently, in our massive database, we are storing 
      <%= @num_recipes =%>
      recipes you could make with over 
      <%= @num_ingredients =%> 
      different ingredients to use!! So what do you want to do now?!?!
    </div>
  </div>
  
  <br><br>
  
  
  
  <div class="row">
    <div class="list-group">
      <a href="/recipes/new"       class="list-group-item col-xs-12 col-sm-12 col-md-4">Create a Recipe</a>
      <a href="/recipe_glossary"   class="list-group-item col-xs-12 col-sm-6 col-md-4">Recipe Glossary</a>
      <a href="/recipe_search"     class="list-group-item col-xs-12 col-sm-6 col-md-4">Recipe Search</a>
    </div>
  </div>
  
  <br><br>
  
  <% if logged_in? %>
    <div class="row">
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
  
</div>
  