<div>
  <h1>Weclome to Group 18 - Recipe Website</h1>
  <h2>Find something good to make with the ingredients in your cabinet!</h2>
</div>

<div>
  <p>
    Currently, in our massive database, we are storing <%= @num_recipes =%> recipes you could make with over <%= @num_ingredients =%> different ingredients to use!! So what do you want to do now?!?!
  </p>
</div>

<div>
  <a href="/recipes/">View this Recipe page!!</a>
</div>
<div>
  <a href="/ingredients">View all the different ingredients you could use!!</a>
</div>
<div>
  <a href="http://lmgtfy.com/?q=closest+place+that+delivers+pizza">Back a slacker and just order delivery!!</a>
</div>