<table width="100%" border="1">

  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="75%">Instructions</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @recipes %>
  </tbody>
  
</table>