<!DOCTYPE html>
<html>
  <head>
    <title> Recipe Glossary | Group Eight-teen Final Project </title>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Recipe Glossary Page</h1>
          <h3>Check recipe names in our glossary here!</h3>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12">
          <a href="">A</a>
          <a href="">B</a>
          <a href="">C</a>
          <a href="">D</a>
          <a href="">E</a>
          <a href="">F</a>
          <a href="">G</a>
          <a href="">H</a>
          <a href="">I</a>
          <a href="">J</a>
          <a href="">K</a>
          <a href="">L</a>
          <a href="">M</a>
          <a href="">N</a>
          <a href="">O</a>
          <a href="">P</a>
          <a href="">Q</a>
          <a href="">R</a>
          <a href="">S</a>
          <a href="">T</a>
          <a href="">U</a>
          <a href="">V</a>
          <a href="">W</a>
          <a href="">X</a>
          <a href="">Y</a>
          <a href="">Z</a>
        </div>
      </div>
        
      <br> 
      
      <div class = row>
        <div class="col-12">
          <div id="results">
            <%= render 'results' %>
          </div>
        </div>
      </div>
      
      <br>
      
      <div class = row>
        <div class="col-12">
          <%= form_tag(recipe_glossary, id: "recipe_search") do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", name: nil %>
          <% end %>
        </div>
      </div>
      
      <br>
        
      <div class = row>
        <div class="col">
          <a href="main/welcome" class="btn btn-primary">Return to Home Page</a>
        </div>
      </div>
    </div>
  </body>
</html>
