<!DOCTYPE html>
<html>
  <head>
    <title> Ingredient Search | Group Eight-teen Final Project </title>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Recipe Search Page</h1>
          <h3>Search for a recipe based here!</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12">
          Functionlaity soon to be added.
        </div>
      </div>
        
      <div class="row">
          <div class="input-group col-lg-6 col-sm-12">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Search!</button>
            </span>
            <input type="text" class="form-control" placeholder="Enter recipe name...">
          </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col">
          <a href="main/welcome" class="btn btn-primary">Return to Home Page</a>
        </div>
      </div>
    </div>
  </body>
</html>
