<!DOCTYPE html>
<html>
  <head>
    <title> Recipe Search | Group Eight-teen Final Project </title>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Recipe Search Page</h1>
          <h3>Search for a recipe based here!</h3>
        </div>
      </div>
      
      <div class="row">
      </div>
      
      <div class="row">
        <div class="input-group col-lg-6 col-sm-12">
          <%= form_tag(recipe_search_path, remote:true, id:"recipe_search_form") do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", name: nil %>
          <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12" id="results">
          
          <%= render 'results' %>
          
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col">
          <a href="main/welcome" class="btn btn-primary">Return to Home Page</a>
        </div>
      </div>
    </div>
  </body>
</html>
