<% provide(:title, "Recipe Search") %>

<div class="container">
  
  <div class="row">
    <div class="col-12">
      <h2>Recipe Search Page</h2>
      <h4>Search for a recipe here!</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      Functionlaity soon to be added.
    </div>
  </div>
    
  <div class="row">
      <div class="input-group col-lg-6 col-sm-12">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Search!</button>
        </span>
        <input type="text" class="form-control" placeholder="Enter recipe name...">
      </div>
  </div>
  
</div>
