<% provide(:title, "Ingredient Search") %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Ingredient Search Page</h1>
      <h3>Search for a recipe based on your ingredients here!</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      Functionlaity soon to be added.
    </div>
  </div>
    
  <div class="row">
      <div class="input-group col-lg-6 col-sm-12">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Search!</button>
        </span>
        <input type="text" class="form-control" placeholder="Enter ingredients...">
      </div>
  </div>
</div>