<!-- Footer on all page layouts -->
<footer class="footer col-md-12">
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Glossary", recipe_glossary_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>