<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        
  <!-- TODO: Add if statement for User information. -->
        <li><%= link_to "Sign Up", root_path %></li>
        <li><%= link_to "Sign In", root_path %></li>
      </ul>
    </nav>
  </div>
</header>
